<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="URF8"/>
        <title>Tableau de bord | Forusky</title>
        <link rel="stylesheet" href="../style/barre-de-recherche.css"/> 
        <link rel="stylesheet" href="../style/pageAccueil.css"/> 
        <link rel="stylesheet" href="../style/post.css"/> 
        <link rel="stylesheet" href="../style/commentaire.css"/> 
        <link rel="stylesheet" href="../style/bloc-profile.css"/> 
    </head>
    <body>
        <header>
            <h1>Forusky</h1>
            <div class="liste-boutons">
                <form action='http://localhost:8080/ChangerDeFilDeDiscution' method='get'>
                    <form action='http://localhost:8080/ChangerPage' method='get'>
                    <button name="pageDemandé" value="main.html" type="submit">Accueil</button>
                </form>
                <form action='http://localhost:8080/ChangerPage' method='get'>
                    <button name="pageDemandé" value="inscription.html" type="submit">inscription</button>
                </form>
                <form action='http://localhost:8080/ChangerPage' method='get'>
                    <button name="pageDemandé" value="nouveau-sujet.html" type="submit">Créé un sujet</button>
                </form>
                <form action='http://localhost:8080/ChangerPageSpéciale' method='get'>
                    <button name="pageDemandé" value="TableauDeBord" type="submit">Tableau de bord</button>
                </form>
            </div>

            <br>
            <button name="iD_fil_de_discussion" value="1" type="submit">file 1</button>
            <button name="iD_fil_de_discussion" value="2" type="submit">file 2</button>
            <button name="iD_fil_de_discussion" value="8" type="submit">file 8</button>
            <br><br>
            <form id="barre-de-recherche" action='http://localhost:8080/BarreDeRecherche' method='get'>
                <input name="Recherche" placeholder="Rechercher...">
                <button id="imageEnvoyerRecherche" type="submit">
                    <img src="../images/chercher.svg">
                </button>
            </form>
            <br>
        </header>
        <main>
            <h2>Derniers messages publiés</h2>
            
            {{range .DerniersPosts}}
                <div class="unPoste" id={{.UserId}}>
                    <form class="partieUtilisateur">
                        <img class="photo">
                        <p class="nom_utilisateur">{{.NameUser}}</p>
                        <p class="date_de_publication">{{.CreatedAt}}</p>
                    </form>
                    <div class="partieTexte">
                        <p class="contenu_du_message">{{.Content}}</p>
                        <div class="partieInteraction">
                            <form class="formulaireFlex" action='http://localhost:8080/InteractionPost' method='get'>
                                <input class="invisible" name="iD_publication" value={{.Id}}>
                                <input class="invisible" name="iD_fil_de_discussion" value={{.ThreadId}}>
                                <button name="nomAction" value="aime" type="submit" class="iconeAime">
                                    <img src={{.IconeLike}}>
                                </button>
                                <p class="nombre_de_aime">{{.Likes}}</p>
                            </form>
                            <form class="formulaireFlex" action='http://localhost:8080/InteractionPost' method='get'>
                                <input class="invisible" name="iD_publication" value={{.Id}}/>
                                <input class="invisible" name="iD_fil_de_discussion" value={{.ThreadId}}/>
                                <button name="nomAction" value="aimePas" type="submit" class="iconeAimePas">
                                    <img src={{.IconeDislike}}/>
                                </button>
                                <p class="nombre_de_aime_pas">{{.Dislikes}}</p>
                            </form>
                            <form class="formulaireFlex" action='http://localhost:8080/AjouterEspaceCommentaire' method='get'>
                                <input class="invisible" name="iD_publication" value={{.Id}}/>
                                <input class="invisible" name="iD_fil_de_discussion" value={{.ThreadId}}/>
                                <button name="nomAction" value="commentaire" type="submit" class="iconeCommentaire">
                                    <img src="/images/commentaire.svg"/>
                                </button>
                                <p>Répondre</p>
                            </form>
                        </div>
                    </div>
                </div>
            {{else}}
                <p>Aucun message publié pour le moment.</p>
            {{end}}

            <h2>Derniers utilisateurs créés</h2>
            
            {{range .DerniersUsers}}
                <form class="bloc-profile">
                    <img class="photo">
                    <p class="titre-partie">Nom d'utilisateur :</p>
                    <p class="réponce-partie">{{.Name}}</p>
                    <p class="titre-partie">Adresse e-mail :</p>
                    <p class="réponce-partie">{{.Adresse_email}}</p>
                    <p class="titre-partie">Date de création :</p>
                    <p class="réponce-partie">{{.CreatedAt}}</p>
                </form>
            {{end}}
            

            <h2>Les statistiques générals du forum :</h2>
            <p>Le nombre total de j'aime mis sur les commentaires : {{.NombreTotalAimeSurCommentaires}}</p>
		    <p>Le nombre total de message publier : {{.NombreTotalMessagePublier}}</p>
		    <p>Le nombre total d'utilisateur : {{.NombreTotalUtilisateur}}</p>

            <!-- <form class="bloc-profile">
                <img class="photo">
                <p class="titre-partie">Nom d'utilisateur :</p>
                <p class="réponce-partie">{{.nom_utilisateur}}</p>
                <p class="titre-partie">Adresse e-mail :</p>
                <p class="réponce-partie">{{.adresse_email}}</p>
                <p class="titre-partie">Date de création :</p>
                <p class="réponce-partie">{{.date_de_publication}}</p>
            </form> -->
        </main>
        <div class="block">
        </div>
    </body>
</html>